@import "animations";
@import "grid";
@import "utils";
@import "icons";
@import "sliding-nav";

$background: #E00070;
$text-color: #fff;
$leading: 1.6;

$font-size: 18;
$lineheight: (($leading * $font-size) / 16) * 1em;

$sans: 'Source Sans Pro', 'Helvetica Neue', sans-serif;

/* the #fuckitreset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #fff;
  color: $background;
}
::-moz-selection {
  background-color: #fff;
  color: $background;
}


html {
  background: $background;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 600 #{($font-size / 16) * 1em}/#{$leading} $sans;
}

// this is the main wrapper due to the sliding nav.
// don't apply padding and stuff to body or html elements.
.wrapper {
  background-color: $background;
  padding: 1% 3% $lineheight;
}

aside > section {
  margin-bottom: $lineheight;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

p {
  margin: 0 0 $lineheight / 2;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
}

h1 {
  font-size: to_em(20);
}

h2 {
  font-size: to_em(16);
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.notice {
  font-size: to_em(14);
  text-transform: none;
  letter-spacing: 0;
}

.muted {
  color: darken($background, 13%);
}

[role="banner"] {
  padding: $lineheight / 2 0 0;
  margin-bottom: $lineheight / 2;

  h1 {
    font-size: to_em(24);
    text-align: center;
    letter-spacing: 15px;
    font-weight: 600;
  }

  .grid__item:first-child {
    a {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .grid__item:last-child {
    a {
      display: block;
      text-align: right;
    }

    img {
      display: inline;
      vertical-align: middle;
    }
  }

  a {
    border: 0;
  }
}

dt {
  font-weight: normal;
}
dd {
  margin-bottom: $lineheight / 4;
}

section > h1 {
  border-bottom: 2px solid rgba(#fff, .5);
  margin-bottom: $lineheight / 2;
}

[role="article"] {
  position: relative;
  margin-bottom: $lineheight;

  time[pubdate] {
    position: absolute;
    top: 0;
    right: 0;
  }

  .content {
    font-size: to_em(16);
  }
}

.list {
  list-style: none;
}

.horizontal-list {
  @extend .list;

  li {
    display: inline;
  }
}

.comma-separated {
  li:not(:last-child)::after {
    content: ', ';
  }
}

.schedule-list {
  @extend .list;

  &:not(:last-child) {
    margin-bottom: $lineheight / 2;
  }

  time {
    display: inline-block;
    margin-right: 10px;
    min-width: 40px;
    font-weight: normal;
  }
}

.badge {
  background-color: #fff;
  color: darken($background, 10%);
  padding: 1px 3px;
  border-radius: 3px;
  font-weight: bold;
  cursor: default;
}

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(#fff, .6);
  color: #fff;
  display: inline-block;
  transition: border-color .2s;

  &:active {
    transform: scale(.98);
  }
  &:hover {
    border-color: #fff;
  }
}

time {
  cursor: default;
}

.bubble {
  @extend .badge;
  border-radius: 100%;
}

.tooltip {
  opacity: 0;
  background-color: #fff;
  color: darken($background, 10%);
  padding: 2px 6px;
  border-radius: 3px;
  transition: all .1s ease-out;
  transform: translate(0, -5px);
  font-size: to_em(16);
  box-shadow: rbga(0,0,0, .8) 0 3px 4px;

  &::after {
    $size: 6px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: $size solid #fff;
    border-color: #fff transparent transparent;
    position: absolute;
    left: calc(50% - #{$size});
    bottom: -$size * 2;
  }

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.checklist {
  @extend .list;

  li::before {
    @include icon('✓');
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
  }
}

#commits li {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
  margin-bottom: $lineheight / 2;
  font-size: .9em;

  p {
    margin: 0;
  }

  .meta {
    font-size: .8em;
    font-weight: normal;
  }

  time {
    font-weight: 600;
  }

  .message {
    line-height: 1.5;

    kbd {
      @include truncate(100%);
      font-family: $sans;
    }
  }

  .committer {

  }
}

.latest-commits {
  position: relative;

  .list {
    height: 300px;
    overflow: scroll;
  }
}

#commits + .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-image: -webkit-linear-gradient(top, transparent, $background 90%)
}

[role="complementary"] {
  padding: 1em;
  font-size: .9em;
  background: #303030 url("../images/pattern.svg");
  text-shadow: rgba(#000, .8) 0 1px 2px;

  h2:not(:first-of-type) {
    margin-top: $lineheight;
  }
}

.slide-pusher {
  box-shadow: rgba(#000, .5) -4px 0 30px;
}
.slide-open .slide-pusher {
  border-left: 1px solid rgba(#fff, .3);
}

/* countdown */
.track {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.thumb {
  display: inline-block;
  height: 3px;
  background-color: #fff;
}

.indicator {
  display: block;
  font-weight: bold;
  text-align: center;
  margin: $lineheight / 4 0 0;
}

.secondary-info {
  ul, ol, p {
    font-size: .9em;
  }
}

.sponsors {
  margin-top: $lineheight;

  .notice {
    text-align: center;
  }

  a {
    display: block;
    margin-bottom: $lineheight;
    border: 0;
    text-align: center;

    &:active {
      top: auto;
      transform: scale(.9);
    }
  }

  img {
    display: inline;
    max-width: 60%;

    &.square {
      max-height: 80px;
    }
  }

  img:not(.square) {
    max-height: 30px;
  }
}

/* Buttons */
.btn,
button {
  display: inline-block;
  -webkit-appearance: none;

  border-radius: 2em;
  border: 1px solid rgba(#fff, .5);
  color: #fff;
  text-align: center;
  padding: 3px 1em;
  background: none;
  color: rgba(#fff, .9);
  cursor: pointer;
  transition: all .2s;

  &.full-width {
    width: 100%;
  }

  img {
    vertical-align: middle;
    display: inline-block;
    max-height: 20px;
    top: -2px;
    position: relative;
    margin-right: 5px;
  }

  .icon {
    position: relative;
    top: 1px;
  }

  &:hover {
    color: #fff;
    border-color: #fff;
  }

  &:active, &:focus {
    outline: 0;
  }

  &:active,
  &:focus,
  &.active {
    background-color: #fff;
    color: darken($background, 5%);
  }
}

#toggle-menu {
  font-size: 50px;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border-radius: 5px;
  margin-right: 20px;
  padding: 0;
}
